@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Geist", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "JetBrains Mono",
        monospace;
}



@layer base {
  :root {
        --background: 60 5% 96%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 162 100% 35%;
        --primary-foreground: 0 0% 100%;
        --secondary: 240 5% 90%;
        --secondary-foreground: 240 10% 3.9%;
        --muted: 240 5% 90%;
        --muted-foreground: 240 5% 40%;
        --accent: 162 100% 50%;
        --accent-foreground: 240 10% 3.9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5% 85%;
        --input: 240 5% 85%;
        --ring: 162 100% 50%;
        --radius: 0.25rem;
    }
  .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 4.5%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 4.5%;
        --popover-foreground: 0 0% 98%;
        --primary: 162 100% 50%;
        --primary-foreground: 240 10% 3.9%;
        --secondary: 240 5% 15%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 5% 15%;
        --muted-foreground: 240 5% 65%;
        --accent: 162 100% 50%;
        --accent-foreground: 240 10% 3.9%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5% 15%;
        --input: 240 5% 15%;
        --ring: 162 100% 50%;
    }
}



@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}
